[submodule "shared_ws/src/modules/ardupilot_gazebo"]
	path = shared_ws/src/modules/ardupilot_gazebo
	url = https://github.com/SwiftGust/ardupilot_gazebo
[submodule "shared_ws/src/modules/ardupilot"]
	path = shared_ws/src/modules/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
